<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/nouislider.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="verify-paysera" content="80b062a22a3233eca74699a03c496a9d">
    <title>Instalika</title>
</head>

<body>

    <header>

        <div class="bgTop">
            <div class="contacts">
                <div class="leftalign">
                    <div>
                        <a href="tel:+37065565525">
                            <i class="fa fa-phone"> +37065565525</i>
                        </a>
                    </div>

                    <div>
                        <a href="mailto:info@instalika.eu">
                            <i class="fa fa-envelope"> info@instalika.eu</i>
                        </a>
                    </div>
                    <div class="last">
                        <a href="/about">
                            <i class="fa fa-info-circle">
                                Apie mus
                            </i>
                        </a>
                    </div>
                </div>

                <div class="rightalign">
                    <div class="darkmode">
                        <i class="fa fa-moon-o"> Tamsus režimas</i>
                    </div>
                    <div>
                        <a href="/login">
                            <i class="fa fa-user"> Prisijungti</i>
                        </a>
                    </div>
                    <div>
                        <a href="/isiminti">
                            <i class="fa fa-heart last"> Isiminti</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bgBottom">
            <div class="head">
                <div class="content">
                    <a href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                </div>
                <div class="content">
                </div>
                <div class="content rightside">
                    <a href="/cart" style="text-decoration: none; color: white;"><%= items %><i class="fa fa-shopping-cart" style="font-size: 25px;"><b> € <%= cartItems.toFixed(2) %></b></i></a>
                    <div class="search">
                        <form id="searchForm" action="/search" method="GET">
                            <input type="text" id="searchInput" name="query" placeholder="Search...">
                            <button type="submit"><i id="searchButton" class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div id="slider"></div>


    <article>
        <div class="sidenav parts">
            <% categories.forEach(function(category) { %>
            <a href="/Main/<%= category.category %>/1"><%= category.category %></a>
            <% }); %>
        </div>





        <div class="container parts">
            <% if (typeof search !== 'undefined' && (search !== null || search !== '')) { %>
            <div style="padding-block: 5px;" class="searched">
                Paieška pagal: <b><%= search %></b>
            </div>
            <% } %><% if (prekes.length != 0) { %>
            <div class="options">
                <div>
                    <form id="sortForm">
                        <label for="sort">Rušiavimas</label>

                        <select id="sort" name="sort">
                            <% if (typeof sort === 'undefined') { sort = 'popular'; } %>
                            <option value="popular" <% if (sort === 'popular') { %>selected<% } %>>Populiariausios</option>
                            <option value="asc" <% if (sort === 'asc') { %>selected<% } %>>Nuo pigiausiu</option>
                            <option value="desc" <% if (sort === 'desc') { %>selected<% } %>>Nuo brangiausiu</option>
                            <option value="a-z" <% if (sort === 'a-z') { %>selected<% } %>>Pagal abėcėlę A-Z</option>
                            <option value="z-a" <% if (sort === 'z-a') { %>selected<% } %>>Pagal abėcėlę Z-A</option></select>
                    </form>                    
                </div>
            </div>







            <% prekes.forEach(function(preke) { %>

                <div class="item">
                    <div class="labels">
                        <% if (preke.QTY != 0){ %>
                        <div class="shipping label green">
                            <div class="icon"><i class='fa fa-truck'></i></div>
                            <div class="text">Turime sandėlyje</div>
                        </div>
                        <% }; %>
                    </div>
                    <a style="text-decoration: none; color: black;" href="/preke/<%= preke.id %>">
                        <h1><%= preke.TITLE %></h1>
                    </a>
                    <a style="text-decoration: none; color: black;" href="/preke/<%= preke.id %>"><img
                            src="<%= preke.IMAGE %>" alt=""></a>
                    <div id="description" class="description"><%- preke.SHORT_DESCRIPTION%></div>
                    <div class="prices">
                        <h2><%- (parseFloat(preke.PRICE).toFixed(2)) %> €</h2>
                        <form action="/cart/add/<%= preke.id %>" method="POST" onsubmit="return addToCart(<%= preke.id %>)">
                            <input type="hidden" name="productId" value="<%= preke.id %>">
                            <button type="submit">
                                <i class="fa fa-shopping-cart"></i>
                                <p>į krepšelį</p>
                            </button>
                        </form>
                    </div>
                </div>
            
            <% }); %>
            

            <div class="bottom">
                <% if (typeof total !== 'undefined' && total !== null && total !== '' && total > 30) {
                        const pageCount = Math.ceil(total / 30); // Calculate the number of pages
                        for (let i = 1; i <= pageCount; i++) { %>
                <a href="/<%= place %>/<%= i %><%= "?sort=" + sort + "#" %>" class="<%= (i == current) ? 'current' : '' %>"><%= i %></a>
                <% }
                    } %>
            </div>

            <% } else { %>
            <!-- If the prekes array is empty -->
            <div class="notfound">Prekių nerasta</div> <!-- Display this message -->
            <% } %>

        </div>



    </article>
    <footer>
        <p>"MB Instalika"</p>
    </footer>


    <script src="/javascripts/index.js"></script>
    <script>
        const searchForm = document.getElementById('searchForm');
        const searchInput = document.getElementById('searchInput');

        searchForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const query = searchInput.value.trim();
            if (query) {
                window.location.href = `/search/${encodeURIComponent(query)}/1`;
            }
        });



        document.getElementById('sort').addEventListener('change', function() {
        const form = document.getElementById('sortForm');
        const selectedValue = this.value;
            form.action = '#';

        
        // Submit the form
        form.submit();
    });

    function addToCart(productId) {
        // Get the current scroll position
        const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

        // Store the scroll position in session storage
        sessionStorage.setItem('scrollPosition', scrollPosition);
        return true; // Allow form submission
    }

    // After form submission, retrieve scroll position from session storage and scroll back
    window.onload = function () {
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            sessionStorage.removeItem('scrollPosition'); // Clear the stored scroll position
        }
    };
    </script>
</body>

</html>